@import "tailwindcss";
@import "tw-animate-css";

@plugin "@iconify/tailwind4";
@plugin "tailwindcss-animate";

@import "./fonts.css";
@import "./utils.css";

:root {
  --background: var(--color-stone-50);
  --foreground: var(--color-olive-700);
  --card: var(--color-white);
  --card-foreground: var(--color-olive-700);
  --popover: var(--color-white);
  --popover-foreground: var(--color-olive-700);
  --primary: var(--color-olive-950);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-olive-200);
  --secondary-foreground: var(--color-olive-700);
  --muted: var(--color-olive-100);
  --muted-foreground: var(--color-olive-500);
  --accent: var(--color-olive-100);
  --accent-foreground: var(--color-olive-700);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --border: var(--color-olive-300);
  --input: var(--color-olive-300);
  --ring: var(--color-blue-500);
  --chart-1: var(--color-orange-600);
  --chart-2: var(--color-amber-500);
  --chart-3: var(--color-olive-600);
  --chart-4: var(--color-olive-400);
  --chart-5: var(--color-stone-400);

  --font-sans: "IBM Plex Sans Variable", "IBM Plex Sans", -apple-system, system-ui, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: GeistMonoVariable, "Fira Code", "Courier New", monospace;
  --radius: 0.25rem;

  --shadow-float: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius));
  --radius-md: calc(var(--radius) + 2px);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 8px);

  --shadow-float: var(--shadow-float);
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  .root {
    @apply isolate;
  }
}
