astropy==5.1
astroquery==0.4.6
astroid==2.12.10
astroplan==0.8
timezonefinder
julian==0.14
gunicorn==20.1.0
psycopg2-binary==2.9.6
Flask==2.2.2
Flask-Cors==3.0.10
Flask-WTF==1.0.1
numpy==1.23.3
opencv-python==4.6.0.66
scipy==1.9.1
pandas==1.5.0
tqdm==4.64.1
seaborn==0.12.0
smallthon==1.2
torch==1.11.0
celery==4.4.7 
torchvision
protobuf==3.20.1
ipython==8.12.3
psutil==5.9.8
Werkzeug==2.2
